.about__container{
    row-gap: 6rem;
    padding-bottom: 5rem;
}

.about__group{
    position: relative;
}

.about__img{
    width: 310px;
    border-radius: .5rem;
}

.about__card{
    width: 180px;
    position: absolute;
    right: 0;
    bottom: -2.5rem;
    background-color: hsla(0,0%, 100%, .1);
    backdrop-filter: blur(16px);
    padding: 0.5rem .75rem;
    text-align: center;
    border-radius: 1.25rem;
}

.about__card-title{
    font-size: var(--h3-font-size);
    margin-bottom: .5rem;
}

.about__card-description{
    font-size: var(--smaller-font-size);
}

.about__title{
    text-align: initial;
    margin-bottom: 2rem;
}

@media screen and (max-width:767px) {
    .about__title{
        text-align: center;
        margin-bottom: 2rem;
    }
}

.about__description{
    margin-bottom: 2rem;
}

.button{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.696);
    color: var(--white-color);
    border: 2px solid rgba(255, 255, 255, 0.842);
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-size: var(--normal-font-size);
    transition: .3s;
}

@media screen and (max-width:767px) {
    .button{
      
        width: 55%;
         text-align: center;
         justify-content: center;
         justify-self: center;
        margin-left: 4.6rem;
        
    }
  
}

.button:hover{
    background-color: var(--first-color-alt);
}
