.footer2{
  background-color: black;
}

footer *{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

footer ul{
  list-style: none;
}

footer{
  color: #fff;
  background: #121315;
}

footer p{
  color: #ccc;
  max-width: 25em;
  font-size: 0.9em;
  line-height: 23px;
}

footer a{
  color: #fff;
  text-decoration: none;
}

footer h4{
  margin-bottom: 1em;
  text-transform: uppercase;  
}

footer .container_footer{
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em;
}

.footer2 .container_footer{
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

.brand{
  display: block;
  font-size: 1.8em;
  font-weight: 600;
  margin-bottom: 1em;
}

.media-icons li,
.service-icons li{
  display: inline-block;
  margin: 0.5em 0.5em 0.5em 0;
}

.media-icons a{
  font-size: 1.1em;
  width: 2em;
  height: 2em;
  border: 1px #fff solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.media-icons a:hover{

  background: #fff;
  color: #111;
}

.service-icons a{
  font-size: 1.6em;
}

.service-icons a:hover{
  color: #dbdbdb;
}

.footer2 .menu li{
    display: inline-block;
    margin: 0 0.7em 0.7em 0;
    text-align: center;
}

.footer2 .menu a{
  transition: 0.3s;
  font-weight: 600;
}

.footer2 .menu a:hover{
  color: #ff2b00;
}



