@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);



.container_table h1 {
  font-size: 3em;
  font-weight: 300;
  line-height: 1em;
  text-align: center;
  color: #4dc3fa;
}

.container_table h2 {
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  display: block;
  line-height: 1em;
  padding-bottom: 2em;
  color: #fb667a;
}

.container_table  a {
  font-weight: 700;
  text-transform: uppercase;
  color: #fb667a;
  text-decoration: none;
}

.blue {
  color: #74c8ef;
}
.yellow {
  color: #fff842;
}

.container_table th h1,.containers_table th h1 {
  font-weight: bold;
  font-size: 1em;
  text-align: left;
  color: #185875;
}

.container_table td,.containers_table td {
  font-weight: normal;
  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0e1119;
  -moz-box-shadow: 0 2px 2px -2px #0e1119;
  box-shadow: 0 2px 2px -2px #0e1119;
}
.tables{
  display: flex;
  padding: 2rem;
}
.container_table,.containers_table {
  text-align: left;
  overflow: hidden;
  width: 45%;
  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}
.container_table td,.containers_table td,
.container_table,.containers_table {
  border: 1px solid rgba(255, 255, 255, 0.511);
  padding-bottom: 2%;
  padding-top: 2%;
  padding-left: 2%;
}



.container_table,
.containers_table {
border-radius: 20px 0 0 20px;
}

/* Background-color of the odd rows */
.container_table tr:nth-child(odd),
.containers_table tr:nth-child(odd) {
  background-color: #323c50;
}

/* Background-color of the even rows */
.container_table tr:nth-child(even),
.containers_table tr:nth-child(even) {
  background-color: #2c3446;
}

.container_table th,
.containers_table th {
  background-color: #1f2739;
}

.container_table td:first-child {
  color: #fb667a;
}
.container_table td:nth-child(2) {
  color: #ffffff;
}
.containers_table td:first-child {
  color: #ffffff;
}







.main_color_div{
  background-color: rgb(34, 33, 33);
  padding: 0 20px; 
}

.green_evvehicle img {
  margin: -12rem;
  width: 50%;
  transition: transform 0.5s ease-in-out; /* Add transition property */
}
.blacks-container{
  display: flex;
  margin: 0 auto;
  justify-content:center;
  align-items: center;
  padding: 0 20px;
}

.logos{
  display: flex;
  position: relative;
}

.left_image {
  width: 30%;
  margin-right: 35rem;
}

.right_image {
  width: 30%;
  
}



.white-box {
  position: relative;
  display:flex;
  flex-direction: column; /* Set direction to column for vertical stacking */
  width: 1200px;
  height: 550px !important;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.green_evvehicle {
  position: relative;
  max-width: 100%;
  /* display: inline; */
   /* top: 50px; */
}
.green_evvehicle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}



.green_evvehicle img {
  max-width: 100%;
  height: auto;
}

/* Additional styling for the circles */
.circle_main {
  position: absolute;
  top: 0;
  left: 80;
  padding: 2rem;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.circle {
  width: 40px;
  height: 40px;
 
  border-radius: 50%;
  margin-bottom: 10px;
}

.green{
  background-color: #00ff00;
}

.grey{
  background-color: grey;
}

.black{
  background-color: black;
}

.orange{
  background-color: orange;
}

.white{
  background-color: white;
  border: black solid 2px;
}

@media screen and (max-width: 780px) {
  .white-box {
    width: 100% !important;
  height: 410px !important;
    background-color: rgb(255, 255, 255);
  }


    .green_evvehicle img:nth-child(2),
    .green_evvehicle img:nth-child(3) {
      display: none; /* Hide the second and third images for smaller screens */
    
  }
  .green_evvehicle img {
    width: 150%;
    /* margin-top: 1rem; */
    height: auto;
    
  }
  .blacks-container{
    display:block;
  }
  .left_image {
    width: 30%;
    margin-right: 0rem;
  }
  .main_content_color{
    justify-content:center;
  align-items: center;
  margin: 0 auto;
  }
  .main_content_color h2 {
    padding: 1rem;
    font-weight: 500 !important;
    font-size: 20px;
}
.lower_heading h3 {
  font-weight: 600 !important;
  font-size: 16px;
  /* padding-left: 2rem !important; */
}
.left_image{
  flex: 2;
}
.right_image{
 flex: 2;
}
.buttons{
  width: 50%;
}
}

.main_content_color h2{
  font-weight: 600;
}
.main_head{
  display: block;
  position: relative;
}
.lower_heading{
  padding-top: 2rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
 
 
}
.lower_heading span{
  color: orange;
}
.lower_heading h3{
  text-align: center;
  font-weight: 700;
  justify-content: center;
  margin: 0 auto;
  /* padding-left: 2rem !important; */
}


@media screen and (max-width:840px){
  .buttons {
    border:2px solid #ffffff;
    border-radius: 20px;
    display: block !important;
    width: 100%;
  }
  .content h4 {
    font-size: 17px !important;
    text-align: center !important;
  }
  .tables{
    display: block;
    padding: 2rem;
    margin-bottom: 0rem;
  }
  .container_table,.containers_table {
    width: 100%;
    margin-bottom: 0rem;
    
  }
  .containers_table{
    margin-top: 2rem;
  }
}

.buttons {
  border:2px solid #ffffff;
  border-radius: 20px;
  display: flex;
  width: 80%;
  justify-content: center;
  margin: 0 auto;
}

.left_part, .right_part {
  margin: 0 auto;
  padding-top: 2rem;
  position: relative;
}

.separator {
  /* position: absolute; */
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 2px solid #ffffff; /* Adjust the color as needed */
  content: '';
}

.content {
  display: block;
}

.content h4 {
  font-size: 20px;
  text-align: left;
}

.book_now {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

.book_now button {
  background-color: #b4e3f8;
  padding: 0.8rem;
  width: 300px;
  border-radius: 20px;
  padding-top: 1rem;
}

.button_group{
  padding-bottom: 2rem;
}


@media screen and (max-width:1280px) {

  .white-box {
  
    width: 1000px;
    height: 550px;
   
  }
  .green_evvehicle img {
    margin: -9rem;
   
  }
}
@media screen and (max-width: 840px) {
  .white-box {
    /* padding-top: 3rem; */
    width: 70%;
    margin-top: 3rem;
  height: 400px;
    background-color: rgb(255, 255, 255);
  }


    .green_evvehicle img:nth-child(2),
    .green_evvehicle img:nth-child(3) {
      display: none; /* Hide the second and third images for smaller screens */
    
  }
  .green_evvehicle img {
    width: 150%;
    /* margin-top: 1rem; */
    height: auto;
    
  }
  .blacks-container{
    display:block;
  }
  .left_image {
    width: 20%;
    margin-right: -1rem;
  }
  .left_image img{
    width:70% ;
  }
  .right_image img{
    width: 70%;
  }
  .main_content_color{
    justify-content:center;
  align-items: center;
  margin: 0 auto;
  }
  .main_content_color h2 {
    padding: 1rem;
    font-weight: 500 !important;
    font-size: 20px;
}
.lower_heading h3 {
  font-weight: 600 !important;
  font-size: 16px;
  /* padding-left: 2rem !important; */
}
.left_image{
  flex: 2;
}
.right_image{
 flex: 2;
}
}